<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body style="background-color: purple">
<div style="padding: 10% 20%;">
<h1 style="font-family:'URW Chancery L', cursive; color: #FF5533">About Us</h1>
    <p style="color: pink; font-family: 'Comic Sans MS', sans-serif;">We here at <span style="font-family: Papyrus, Copperplate, Impact">TERTIARY INTERIM COMPUTER KONBINI</span> <i>(TICK)</i> are dedicated to delivering the most cost-effective,
        high performance computers offered anywhere in the continental U.S. We understand that some people are driven
        away by our opinionated visual design, but we feel that our bold approach defines who we are and what we do.
    Each computer from <i>TICK</i> is guaranteed to adhere to our strict guidelines and quality controls. Remember, when you're
    looking to buy a new computer, don't get one that's just ok, get one that <i>TICK</i>s!</p>
    <br>
    <a style="color: white" href="/">Click here to return to the home page</a>
</div>
</body>
</html>